    <Link rel ="stylesheet" href="~/Stylesheet.css"/>
    <div class="nav-bar">
    <div class="nav-item"><a href="/">Home </a> </div>
    <div class="nav-item"><a href="/Products">View Products </a></div>
    <div class="nav-item"><a href="/Products/Create">Create</a> </div>
    <div class="nav-item"><a href="/Products/Edit">Edit </a></div>
    <div class="nav-item"><a href="/Products/Delete">Delete </a></div>
    </div>