<!DOCTYPE html>
    <html>
    <head>
        <title>Product Inventory Management</title>
        <link rel="stylesheet" href="~/Index.css"/>
    </head>
    <body>
    @await Html.PartialAsync("_Layout")
    <div class="mainbody">
        <h1>Welcome to Product Inventory Management System</h1>
    </div>
</body>
    </html>