
.nav-bar {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius:15px;
    width: 100%;
    height:60px;
    background-color: darkblue;
    margin-top: 0%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.nav-item{
    font-family:'Arial Rounded MT';
    font-size:20px;
    font-weight:500;
    padding:2px;
    text-decoration:none;
}

a{
    text-decoration:none;
    color:antiquewhite;
}

